# Địa chỉ server API 
VITE_API_BASE_URL=

# Thời gian chờ tối đa của một yêu cầu API (mili giây)
VITE_API_TIMEOUT=10000

# Tên của key dùng để lưu Token đăng nhập
VITE_STORAGE_TOKEN_KEY=myapp_access_token
# Tên của key dùng để lưu thông tin người dùng 
VITE_STORAGE_USER_KEY=myapp_user_info

# Thông tin ứng dụng
VITE_APP_TITLE="Hệ Thống Quản Lý Người Dùng"
VITE_APP_VERSION=1.0.0